
<!-- Container (The Church Section) -->
<div id="os" class="container text-center">
  <h3>VIDEOS</h3>
  <p>
    <em>Here you are gonna see images about what is happening in the Church.</em>
  </p>
  <p>
    See what is going on...
  </p>
  <br>


<div id="video-thumbnail" class="thumbnail">
  <iframe class="videoframe" src="http://cdn.livestream.com/embed/assembleiadedeusbeverly?layout=4&amp;clip=pla_cd5e8bed-887b-4892-845b-2fcba46c9e02&amp;height=340&amp;width=560&amp;autoplay=false" style="border:0;outline:0" frameborder="0" scrolling="no"></iframe>
  <div class="caption">
    <p><strong>Family service.</strong></p>
    <p class="sml">April 17 2015. With Pr Viano as the Preacher of the night.</p>
  </div>
</div>

  <div id="video-thumbnail" class="thumbnail">
    <iframe class="videoframe" src="http://cdn.livestream.com/embed/assembleiadedeusbeverly?layout=4&amp;clip=pla_f7826021-3f30-4bfe-8f6e-cf2cbf213763&amp;height=340&amp;width=560&amp;autoplay=false" style="border:0;outline:0" frameborder="0" scrolling="no"></iframe>
    <div class="caption">
      <p><strong>Family service.</strong></p>
      <p class="sml">November 08 2015. A great day of praise.</p>
    </div>
  </div>

  <div id="video-thumbnail" class="thumbnail">
    <iframe class="videoframe" src="http://cdn.livestream.com/embed/assembleiadedeusbeverly?layout=4&amp;clip=pla_2d9678b4-e3d2-40c9-b155-9f2bc2bf2061&amp;height=340&amp;width=560&amp;autoplay=false" style="border:0;outline:0" frameborder="0" scrolling="no"></iframe>
    <div class="caption">
      <p><strong>Family service.</strong></p>
      <p class="sml">November 01 2015. A great day of praise.</p>
    </div>
  </div>

  <div id="video-thumbnail" class="thumbnail">
    <iframe class="videoframe" src="http://cdn.livestream.com/embed/assembleiadedeusbeverly?layout=4&amp;clip=pla_f842ad8f-3309-4348-97fd-949c1e3a3d55&amp;height=340&amp;width=560&amp;autoplay=false" style="border:0;outline:0" frameborder="0" scrolling="no"></iframe></iframe>
    <div class="caption">
      <p><strong>Youth Congress</strong></p>
      <p class="sml">October 31 2015. Here you are gonna see what happened...</p>
    </div>
  </div>

  <div id="video-thumbnail" class="thumbnail">
    <iframe class="videoframe" src="http://cdn.livestream.com/embed/assembleiadedeusbeverly?layout=4&amp;clip=pla_71587258-ff38-434b-a178-730a2dcb0dbe&amp;height=340&amp;width=560&amp;autoplay=false"style="border:0;outline:0" frameborder="0" scrolling="no"></iframe>
    <div class="caption">
      <p><strong>Youth Congress</strong></p>
      <p class="sml">October 30 2015. An amazing day!!!</p>
    </div>
  </div>

  <div id="video-thumbnail" class="thumbnail">
    <iframe class="videoframe" src="http://cdn.livestream.com/embed/assembleiadedeusbeverly?layout=4&amp;clip=pla_8fa4f24b-98d0-4241-bd88-a02c4b247f40&amp;height=340&amp;width=560&amp;autoplay=false" style="border:0;outline:0" frameborder="0" scrolling="no"></iframe>
    <div class="caption">
      <p><strong>Family service</strong></p>
      <p class="sml">October 18 2015. A great day of praise.</p>
    </div>
  </div>

  <div id="video-thumbnail" class="thumbnail">
    <iframe class="videoframe" src="http://cdn.livestream.com/embed/assembleiadedeusbeverly?layout=4&amp;clip=pla_4a9c456d-8ed2-46be-9bca-e5cd0a1c0c14&amp;height=340&amp;width=560&amp;autoplay=false" style="border:0;outline:0" frameborder="0" scrolling="no"></iframe>
    <div class="caption">
      <p><strong>Youth Service</strong></p>
      <p class="sml">October 12 2015. To God all glory!!!</p>
    </div>
  </div>

  <div id="video-thumbnail" class="thumbnail">
    <iframe class="videoframe" src="http://cdn.livestream.com/embed/assembleiadedeusbeverly?layout=4&amp;clip=pla_1ac8f9fd-3cfa-46e8-9df6-ecb950873678&amp;height=340&amp;width=560&amp;autoplay=false" style="border:0;outline:0" frameborder="0" scrolling="no"></iframe>
    <div class="caption">
      <p><strong>Family service</strong></p>
      <p class="sml">October 11 2015. Here you are gonna see the celebration video.</p>
    </div>
  </div>
</div>
</div>
