/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


/* ########## General Styling ########## */
body {
    //font: 400 15px/1.8 Lato, sans-serif;
    font:  400 15px/1.8 'Montserrat', sans-serif;
    color: #777;
}

.navbar {
    font-family: Montserrat, sans-serif;
}




@media only screen and (min-width: 600px) {
    /* For tablets: */
    .container {
          padding: 80px 60px;
      }
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .container {
          padding: 80px 120px;
      }
}


/* Overwrite default styles of h3 and h4 */
h3, h4 {
    margin: 10px 0 30px 0;

    letter-spacing: 2px;
    font-size: 30px;
    color: #6b6b6b;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 30px;
    color: #6b6b6b;
    font-weight: bold;
}

/* Remove rounded borders on input fields */
.form-control {
    border-radius: 0;
}

/* Disable the ability to resize textareas */
textarea {
    resize: none;
}



/* ########## Styling The Carousel ########## */

#myCarousel{
    box-shadow: 0px 1px 2px #aaa;
}

.carousel-inner img {
    -webkit-filter: grayscale(0%);

    filter: grayscale(0%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    height: auto;;

    filter: grayscale(0%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */

    margin: auto;
}

.carousel-caption {
    color: #fff !important;
    padding-bottom: 100px;
    h3 { font-size: 46px;
    color: #fff;
    }
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}


/* ########## The Church ########## */

#church {
  backgroud-collor: #f3f3f3;
}

.person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
  }

.person:hover {
      border-color: #f1f1f1;
}


/* ########## Tour Container ########## */
.bg-1 {
    //background-color: #69a0bd;
    //background-image: asset-url('sanfran.jpg', image);
    background-image: url(image-path('ny01.jpg'));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #bdbdbd;
    box-shadow: 0px 1px 2px #aaa;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}

.color-white {color: white;}

/* ########## Contact ########## */

#contact {
    background-image: url(image-path('message03.jpg'));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #707070;
    box-shadow: 0px 1px 2px #aaa;
    width: 100%;
}

/* ########## Lists, Thumbnails & Buttons ########## */

/* Remove rounded borders from list */
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Remove border and add padding to thumbnails */
#image-thumbnail {
    padding: 0 0 15px 0;
    border: 1;
    border-radius: 10;
    box-shadow: 1px 1px 1px #ccc;
    text-align: left;
    max-width: 300px;
    margin: auto;
    margin-bottom: 40px;
}






@media only screen and (min-width: 600px) {
    /* For tablets: */
    .videoframe {
      width: 320px;
      height: 220px;
    }
    #video-thumbnail {
      padding: 5px;
      border: 1px;
      border-radius: 5;
      box-shadow: 1px 1px 1px #ccc;
      text-align: left;
      width: 340px;
      margin: auto;
      margin-bottom: 20px;
      border-color: #EAEAEA;
      border-style: solid;
    }
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .videoframe {
      width: 520px;
      height: 320px;
    }

    #video-thumbnail {
      padding: 10px;
      border: 1px;
      border-radius: 10;
      box-shadow: 1px 1px 1px #ccc;
      text-align: left;
      width: 540px;
      margin: auto;
      margin-bottom: 40px;
      border-color: #EAEAEA;
      border-style: solid;
    }
}



.event {
  max-width: 400px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 5;
    box-shadow: 1px 1px 4px #224422;
    img {
      border-radius: 5;

    }
}

.sml {
  font-weight: lighter;
  font-size: 12px;
  color: rgba(33, 33, 33, 0.4);
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}



.thumbnail img {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Black buttons with extra padding and without rounded borders */
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

/* On hover, the color of .btn will transition to white with black text */
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}

/* ########## Modal window ########## */
/* Add a dark gray background color to the modal header and center text */
.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-header, .modal-body {
    padding: 40px 50px;
}

/* ########## Toggable Tabs ########## */
.nav-tabs li a {
    color: #777;
}


#location {
  background-color: #f3f3f3;
  width: 100%;
}

#photos {
  background-color: #f3f3f3;
  width: 100%;
}


/* ########## Google Maps ########## */
#googleMap {
    width: 100%; /* Span the entire width of the screen */
    height: 400px; /* Set the height to 400 pixels */
    -webkit-filter: grayscale(100%); /* Change the color of the map to black and white */
    //filter: grayscale(100%); /* Change the color of the map to black and white * /
    filter: grayscale(50%);
    //box-shadow: 2px 2px 2px 2px #aaa;
}


/* ########## Navbar ########## */

/* Add a dark background color with a little bit see-through */

.navbar {
    margin-bottom: 0;
    background-color: #ffffff;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.95;
    padding: 1.0em 2%;
    box-shadow: 0px 1px 2px #aaa;
}

/* Add a gray color to all navbar links */

.navbar li a, .navbar .navbar-brand {
    color: #353535 !important;
}

.navbar-brand {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    color: #353535;
    border: 2px solid #353535;
    //padding: 5px 5px;
    float: left;
    border-radius: 0px;
    box-shadow: 1px 1px 2px #aaa;
    letter-spacing: 0px;
}


/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #909090 !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: red !important;
}


/* ########## Footer ########## */
/* Add a dark background color to the footer */
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
    font-size: 12px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}



.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}




/*======= Photo Gallery Styles ======================*/

/* The -25px on left and right margine is to counter the margin on the gallery thumbnails
   Doing this lines up the right and left-most gallery with the edge of the content */
.imgGalleryContainer {
  display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
  align-content: flex-start;
  margin: 20px -25px;
}
.imgGalleryContainer:after {
	content: '';
	display: block;
	clear: both;
}
.imgGallery {
	margin: 25px;
  flex: 0 1 calc(20% - 50px);
  min-width:200px;
  overflow:hidden;
	position: relative;
	overflow: hidden;
	border: 1px solid #ccc;
	box-sizing: border-box;
	cursor: pointer;
	float: left;
	opacity:0;
	-webkit-animation: imgGallerySlideIn .65s .15s ease forwards;
	animation: imgGallerySlideIn .65s .15s ease forwards;
}

@media handheld, screen and (max-width: 999px) {
  .imgGallery {
    flex: 0 1 calc(25% - 50px);
  }
}

@media handheld, screen and (max-width: 809px) {
  .imgGallery {
    flex: 0 1 calc(33.33% - 50px);
  }
}

@media handheld, screen and (max-width: 619px) {
  .imgGallery {
    flex: 0 1 calc(50% - 50px);
    min-width:0;
  }
}

.imgGalleryContainer > .imgGallery:nth-of-type(2n),
.imgGalleryContainer > a:nth-of-type(2n) > .imgGallery {
	-webkit-animation-delay: .25s;
	animation-delay: .25s;
}
.imgGalleryContainer > .imgGallery:nth-of-type(3n),
.imgGalleryContainer > a:nth-of-type(3n) > .imgGallery {
	-webkit-animation-delay: .35s;
	animation-delay: .35s;
}
.imgGalleryContainer > .imgGallery:nth-of-type(4n),
.imgGalleryContainer > a:nth-of-type(4n) > .imgGallery {
	-webkit-animation-delay: .45s;
	animation-delay: .45s;
}
.imgGalleryContainer > .imgGallery:nth-of-type(5n),
.imgGalleryContainer > a:nth-of-type(5n) > .imgGallery {
	-webkit-animation-delay: .55s;
	animation-delay: .55s;
}
.imgGallery:active {
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
}
@-webkit-keyframes imgGallerySlideIn {
	0% {
		opacity:0;
		-webkit-transform:translateX(-29.0px);
		transform:translateX(-29.0px);
	}
	100% {
		opacity:1;
		-webkit-transform:translateX(0);
		transform:translateX(0);
	}
}
@keyframes imgGallerySlideIn {
	0% {
		opacity:0;
		-webkit-transform:translateX(-29.0px);
		transform:translateX(-29.0px);
	}
	100% {
		opacity:1;
		-webkit-transform:translateX(0);
		transform:translateX(0);
	}
}
.imgGallery:before {
	content: '';
	display: block;
	padding-top: 100%;
}
.imgGallery:after {
	content: attr(name);
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	box-shadow: inset 0 -42px 0 -1px rgba(0,0,0,.42);
	top: 0;
	left: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: Verdana;
	box-sizing: border-box;
	padding-top: calc(100% - 36px);
	overflow: hidden;
	text-align: center;
	color: rgba(255,255,255,.8);
	border: 2px solid #fafafa;
	text-shadow: 0 2px 10px rgba(0,0,0,.42);
	-webkit-transition: box-shadow .290s ease, padding-top .290s ease;
	transition: box-shadow .290s ease, padding-top .290s ease;
}
.imgGallery:hover:after {
	box-shadow: inset 0 -69px 0 -1px rgba(0,0,0,.5);
	padding-top: calc(100% - 50px);
	white-space: normal;
	text-overflow: clip;
}
.imgGallery > img {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 0;
	bottom: 0;
	height: 100%;
	min-width: 100%;
	-webkit-object-fit: cover;
	object-fit: cover;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.imgGalleryExpanded {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 110;
	opacity: 0;
	font-family: Verdana;
	color: #fcfcfc;
	background: rgba(0,0,0,.8);
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: transform 0s .290s linear, opacity .290s ease;
	transition: transform 0s .290s linear, opacity .290s ease;
}
.imgGalleryExpanded:before, .imgGalleryExpanded:after {
	content: '';
	position: absolute;
	right: 20px;
	top: 100px;
	width: 30px;
	height: 3px;
	background: #fcfcfc;
	cursor: pointer;
}
.imgGalleryExpanded:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.imgGalleryExpanded:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.imgGalleryExpanded > button {
	position: absolute;
	cursor: pointer;
	outline: none;
	display: block;
	border: none;
	width: 50px;
	height: 45px;
	background: none;
	margin-top: 10px;
	left: 50%;
	top: 85%;
	float: left;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	margin-left: -40px;
}
.imgGalleryExpanded > button:active {
	-webkit-transform: translate(-50%, 2px);
	transform: translate(-50%, 2px);
}
.imgGalleryExpanded > button:after {
	content: '\f0d9  ';
	font-family: FontAwesome;
	display: block;
	position: absolute;
	text-indent: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fcfcfc;
	line-height: 50px;
	font-size: 400%;
	height: 100%;
	width: 100%;
	text-align:center;
	-webkit-transition: color .290s ease;
	transition: color .290s ease;
	-webkit-filter: drop-shadow(0 2px 10px rgba(0,0,0,.42));
	filter: drop-shadow(0 2px 10px rgba(0,0,0,.42));
}
.imgGalleryExpanded > button:nth-of-type(1):before {
	content: attr(data-count);
	display: block;
	position: relative;
	top: 42px;
	font-size: 120%;
	left: calc(100% - 10px);
	font-family: Verdana;
	color: #fcfcfc;
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	text-shadow: 0 2px 10px rgba(0,0,0,.42);
}
.imgGalleryExpanded > button:active:before {
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px);
}
.imgGalleryExpanded > button:nth-of-type(2) {
	margin-left: 40px;
}
.imgGalleryExpanded > button:nth-of-type(2):after {
	content: '\f0da ';
}
.imgGalleryExpanded > button:hover:after {
	color: #f21b0a;
}
.imgGalleryExpanded > .imgTitle {
	position: absolute;
	left: 50%;
	top: calc(10% + 30px);
	font-size: 130%;
	width:80%;
	text-align:center;
	text-shadow: 0 2px 10px rgba(0,0,0,.42);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.galleryImgs {
	position: relative;
	width: 80%;
	max-width: 1000px;
	min-width: 300px;
	display: block;
	left: 50%;
	top: 50%;
	overflow:hidden;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.galleryImgs:before {
	content: '';
	display: block;
	padding-top: 75%;
}
.galleryImgs img {
	top: 50%;
	left: 50%;
	opacity: 0;
	display: none;
	position: absolute;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-filter: drop-shadow(0 0 10px rgba(0,0,0,.69));
	filter: drop-shadow(0 0 10px rgba(0,0,0,.69));
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: opacity .290s ease;
	transition: opacity .290s ease;
}
.imgGallery.open + .imgGalleryExpanded {
	display: block;
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: transform 0s linear, opacity .290s ease;
	transition: transform 0s linear, opacity .290s ease;
}
.imgGallery.open + .imgGalleryExpanded > .galleryImgs > img {
	display: block;
}
.imgData {
	width:100%;
	color:#fcfcfc;
	height:100px;
	position:fixed;
	display:table;
	left:50%;
	top:0;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	-webkit-transition: transform .145s ease, height .145s ease;
	transition: transform .145s ease, height .145s ease;
	background:rgba(0,0,0,.5);
}
@media handheld, screen and (max-width: 959px) {
.imgData {
	height:42px;
}
}
.imgData:after {
	content:attr(data);
	width:100%;
	height:100%;
  	display: table-cell;
  	vertical-align: middle;
  	text-align: center;
	color:#fcfcfc;
	text-shadow: 0 2px 10px rgba(0,0,0,.42);
}
