<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP"> <span class="glyphicon glyphicon-chevron-up"></span> </a>
  <br>
  <br>
  <p>
    © 2016 - All rights reserved. Web Dveloper: alexandre.webapps@gmail.com +1 781 731 3272 <a href="https://www.facebook.com/alexandre404" data-toggle="tooltip" title="Visit www.alexandre-guimaraes.com" </a>
  </p>
  <div class="text-center">
    <a href="#"><%= fa_icon("facebook 2x inverse fw") %></a>
    <a href="#"><i class="fa fa-2x fa-fw fa-twitter text-inverse"></i></a>
    <a href="#"><i class="fa fa-3x fa-fw hub text-inverse fa-youtube"></i></a>
    <a href="#"><i class="fa fa-2x fa-fw fa-instagram text-inverse"></i></a>
  </div>
</footer>
